.pred-container {
  margin-bottom: 20px;
}
.pred-container > div {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}
.row {
  display: table-row;
}
.cell {
  display: table-cell;
  padding-right: 20px;
}
#file-container {
  margin-bottom: 20px;
}
